body {
    font-family: sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    padding-top: 150px;
    margin-left: 56px;
}

.sidebar-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 110px;
    height: 91px;
    object-fit: cover;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    margin:auto;
}

.sidebar-nav a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.sidebar-nav a:hover {
    background-color: #ccc;
}

.topbar-nav li {
    margin:auto;
}

.topbar-nav a {
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.topbar-nav a:hover {
    background-color: #ccc;
}

.main-content {
    flex: 1;
    margin-left: 110px;
    margin-top: 150px;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f2f2f2;
    height: 75px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    font-size: xx-large;
}

.main-section {
    margin-bottom: 20px;
}

.main-image {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.main-footer {
    text-align: center;
}

.sidebar {
    width: 110px;
    height: 100%;
    position: fixed;
    top: 92px;
    left: 0;
    overflow: hidden;
    z-index: 1;
    transition: width 0.5s ease;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    gap: 25px;
    padding: 55px 0;
    border: 1px solid #ccc;
    background-color: #ededed;;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  
  .sidebar.collapsed {
    width: 0px;
  }
  
  .sidebar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    height:15px;
    width:15px;
    cursor: pointer;
    background-color: black;
  }

  .sidebar-toggle.collapsed {
    width: 10px;
  }

  .topbar {

  }
  .topbar-nav {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: large;
  }

  @media screen and (max-width: 650px) {
    .topbar {
        display: none;
    }
    .sidebar-logo {
        /* width: 0px; */
    }
    .main-content {
        flex: 1;
        margin-left: 10px;
        margin-top: 150px;
        
    }
    .container {
        margin-left: 0px;
    }

    #hamburger-icon {
        width: 45px !important;
    }
    .main-header {
        height: 51px;
    }
  }

  @media screen and (min-width: 651px) {
    .sidebar {
        width: 0px;
    }

  }
  header {
    background-color: #ffebcd;
    padding: 20px;
    text-align: center;
    }

 .girly-border {
    border: 1px solid #f4a460;
    border-style: dashed;
    border-radius: 10px;
    background-color: #ffedf9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }

  #hamburger-icon {
    z-index: 6;
    position: fixed;
    top: 13px;
    left: 35px;
    width: 0px;
    height: 45px;
    cursor: pointer;
  }
  
  #hamburger-icon rect {
    fill: #333;
    transition: all 0.2s ease-in-out;
  }
  
  #hamburger-icon.open rect:first-child {
    transform: translate(0, 15px);
  }
  
  #hamburger-icon.open rect:nth-child(2) {
    opacity: 0;
  }
  
  #hamburger-icon.open rect:last-child {
    transform: translate(0, -15px);
  }